# requires direnv
# nothing sensitive goes in here
# this is mainly for automating activation of the virtualenv locally
source /vnv/pyan_shared_p310//bin/activate

# do not generate .pyc files locally
export PYTHONDONTWRITEBYTECODE=1